$color-black: #000000;
$color-medium-grey: #93949B;
$color-light-grey: #DBDBDB;

$color-green: #1C9C8D;
$color-light-green: #47B4BB;
$color-orange: #DD7326;
$color-dark-blue: #124E98;
$color-light-blue: #6979D3;
$color-yellow: #FFA600;
$color-purple: #955196;
$color-pink: #DD5182;
