@import "./vars.scss";
@import "@braks/vue-flow/dist/style.css";

body {
  color: $color-black;
  background: var(--color-background);
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;

  text-underline-offset: 3px;
  text-decoration-thickness: 5px;
}

h1 {
  font-size: 3rem;
  weight: 600px;
  margin: 0;
}

h2 {
  font-size: 2.25rem;
  weight: 600px;
  margin: 0;
}

h3 {
  font-size: 1.5rem;
  weight: 600px;
  margin: 0;
}

h4 {
  font-size: 1.15rem;
  weight: 600px;
  margin: 0;
}

p {
  font-size: 1rem;
  weight: 400px;
}

li, .link {
  font-size: 1rem;
  weight: 400px;
}

.unstyled-link{
  text-decoration: none;
  display: inline-block;
}

button {
  font-size: 1rem;
  weight: 400px;
  background: none;
  border: none;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.pill{
  color: $color-green;
  font-weight: bold;
  padding: 1rem;
  border: 2px $color-green solid;
  border-radius: 30px;
}


//animation

.shrink-hover{
  transition: transform 100ms ease-in-out;
  &:hover{
    transform: scale(98%)
  }
}


//links
.lightLink {

  & a:link {
    color: $color-light-orange;
    /* font-weight: 600; */
  }

  & a:visited {
    color: $color-light-orange;
    /* font-weight: 600; */
  }

  & a:hover {
    color: $color-orange;
    /* font-weight: 600; */
  }

  & a:active {
    color: $color-orange;
    /* font-weight: 600; */
  }

}
